<%- include('./Partials/header.ejs') %>
    
    <nav class="navbar navbard-expand-lg navbark-dark bg-primary">
        <h1 class="text-center">Bem vindo ao nosso Sistema de Controle de Estoque</h1>
    </nav>
    <div class="container mt-3">
        <div class="container-card">
            <div class="cards">
                <h2>Cadastrar Vendedor:</h2>
                <a href="/cadastroVendedor" class="btn btn-success">Cadastrar Vendedor</a> 
            </div>
            <div class="cards">
                <h2>Acessar Painel de Vendedor:</h2>
                <a href="/loginVendedor" class="btn btn-success">Acessar Painel de Vendedor</a> 
            </div>
        </div>
    </div>

<%- include('./Partials/footer.ejs') %>