<%- include('../Partials/header.ejs') %>
<nav class="navbar navbard-expand-lg navbark-dark bg-primary">
    <h1 class="text-center">Bem vindo a Sessão de Cadastro de Vendedor</h1>
</nav>
<div class="container mt-3">
    <form action="/concluirCadastro" method="POST">
        <input type="text" name="nome" placeholder="Digite seu nome" class="form-control"><br>
        <input name="email" type="email" placeholder="Digite seu email" class="form-control"><br>
        <input type="password" name="password" placeholder="Digite sua Senha:" class="form-control"><br>
        <button type="submit" class="btn btn-success btn-block"> Cadastrar novo Vendedor </button>
    </form>
</div>
<%- include('../Partials/footer.ejs') %>