<%- include('../Partials/header.ejs') %>
<nav class="navbar navbard-expand-lg navbark-dark bg-primary">
    <h1 class="text-center">Bem vindo a Sessão do Vendedor</h1>
</nav>
<div class="container-card mt-3">
    <div class="cards">
        <h2>Realizar Venda:</h2>
        <a href="/realizarVenda" class="btn btn-success">Realizar Venda</a> 
    </div>
    <div class="cards">
        <h2>Cadastrar novo Produto:</h2>
        <a href="/cadastrarProduto" class="btn btn-success">Cadastrar novo Produto</a> 
    </div>
    <div class="cards">
        <h2>Visualizar Produtos:</h2>
        <a href="/visualizarProdutos" class="btn btn-success">Visualizar Produtos</a> 
    </div>
    <div class="cards">
        <h2>Logout</h2>
        <a href="/logout" class="btn btn-danger"> Deslogar </a>
    </div>
</div>
<%- include('../Partials/footer.ejs') %>